.tile {
  &__container {
    font-size: 1rem;
    font-weight: lighter;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    width: 15rem;
    flex: 1;
    background-color: grey;
  }

  &__information-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1

  }

  &__counter {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}