.gallery {
  &__container {
    display: flex;
    flex: 0.5;
    border: 1px solid red;
    flex-wrap: wrap;
  }

  &__no-patients {
    font-size: 1rem;
    margin: 2rem;
    font-weight: lighter;
  }
}