<div>
    <app-heading [class]="'gallery-heading'" [text]="'Current Patients'"></app-heading>
    <ng-container *ngIf="medicalConditions">
        <div *ngIf="medicalConditions.length === 0; else hasPatients">
            <div class="gallery__no-patients">Please fetch Patients</div>
        </div>
        <ng-template #hasPatients>
            <app-table [headers]="headers" [rowData]="medicalConditions"></app-table>
        </ng-template>
    </ng-container>
</div>

<!--            <ng-template #hasPatients>-->
    <!--            <div class="gallery__headers">-->
    <!--                <div class="gallery__medical-conditions"><label>Medical Condition</label></div>-->
    <!--                <div><label>Number of Patients</label></div>-->

    <!--            </div>-->
    <!--            <div class="gallery__container">-->
    <!--                <app-tile *ngFor="let medicalCondition of medicalConditions; let i=index" [medicalCondition]="medicalCondition" [class.tile&#45;&#45;even]="i % 2 === 0"></app-tile>-->
    <!--            </div>-->
    <!--        </ng-template>-->



