@import 'src/styles';
.gallery {
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: flex-start;
  }

  &__no-patients {
    font-size: 1rem;
    margin: 2rem;
    font-weight: lighter;
  }

  &__headers {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 2rem;
    font-weight: bold;
    font-size: 1rem;
  }

  &__medical-conditions {
    margin-right: 2rem;
  }
}