<app-heading class="patients-history-heading" [text]="'History'"></app-heading>
<div class="history__secondary-header-wrapper">
    <app-heading *ngIf="history.length > 0" [class]="'secondary-heading'" [text]="'Before Medication'"></app-heading>
    <app-heading *ngIf="history.length > 0" [class]="'secondary-heading'" [text]="'After Medication'"></app-heading>
</div>
<div class="history__table-container"  *ngIf="history.length > 0">
    <div *ngFor="let data of history; let i = index" >

        <div class="history__medication">
            <div>
                <span>Treatment Iteration - {{data.medicationDate | date:'dd/MM/y HH:mm:ss'}}</span>
            </div>
            <ng-container *ngIf="data.drugs.length > 0; else noMedicationApplied">
                <div>Medication applied - <span class="history__medication--comma" *ngFor="let medication of data.drugs">{{medication | mapMedication}}</span></div>
            </ng-container>
            <ng-template #noMedicationApplied>
                No Medication applied
            </ng-template>
        </div>
        <div class="history__table">
            <ng-container *ngIf="i === 0; else noHeaderTables">
                <app-table [headers]="historyTableHeaders" [rowData]="data.input"></app-table>
                <app-table [headers]="historyTableHeaders" [rowData]="data.output"></app-table>
            </ng-container>
            <ng-template #noHeaderTables>
                <app-table [rowData]="data.input"></app-table>
                <app-table [rowData]="data.output"></app-table>
            </ng-template>
        </div>
    </div>
</div>
