@import 'src/styles';
.history {
  &__table-container {
    width: 100%
  }

  &__secondary-header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__table {
    @include line1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  &__medication {
    padding: 0 2rem;
    font-size: 1rem;

    &--comma:not(:empty):not(:last-child):after {
      content: ", ";
    }
  }
}