.history {
  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 20rem);
    grid-column-gap: 2rem;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__info-display {
    display: flex;
    flex-direction: row;
  }

  &__label {
    display: flex;
    flex: 0.8;
    font-size: 1rem;
    font-weight: bold;
  }

}