<app-heading [text]="'This is patients history'"></app-heading>
<div *ngFor="" class="history__container">
    <div class="history__info-wrapper">
        <h1>Input</h1>
    </div>
    <div class="history__info-wrapper">
        <h1>Output</h1>
    </div>
    <div class="history__info-wrapper">
        <h1>Drugs applied</h1>
        <div class="history__info-display">
            <label class="history__label">Medical Condition</label>
            <div class="history__text">Number of Patients</div>
        </div>
    </div>
</div>